body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url('https://images.wallpaperscraft.ru/image/single/kuby_struktura_chernyj_120005_2560x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
	
}

.heder{
	display: flex; 
	justify-content: center;
    position: fixed;
	font-size: 50px;
	font-family: cursive;
    width: 100%;
    height: 10%;
	background-color: rgb(147, 216, 216);
}





.baner1{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner1:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/linii_polosy_vertikalnyj_129730_1024x600.jpg);
    /* transform: scale(1.04);   */
	
	
}


.baner2{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner2:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/steklo_tekstura_formy_116816_1024x600.jpg);
    /* transform: scale(1.04);   */
}



.baner3{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner3:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/fon_tekstura_poverhnost_50343_1024x600.jpg);
    /* transform: scale(1.04);   */
}


.baner4{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner4:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/tekstura_perepletenie_struktura_409242_1024x600.jpg);
    /* transform: scale(1.04);   */
}


.baner5{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner5:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/setka_sinij_fon_1190441_1024x600.jpg);
    /* transform: scale(1.04);   */
}



.baner6{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner6:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/stil_kreativ_fon_50387_1024x600.jpg);
    /* transform: scale(1.04);   */
}



.baner7{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner7:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/shestiugolniki_setka_metall_206273_1024x600.jpg);
    /* transform: scale(1.04);   */
}




.baner8{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner8:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/stena_kraska_naiskos_134468_1024x600.jpg);
    /* transform: scale(1.04);   */
}


.baner9{
    display: inline-block;
    width: 330px;
	height: 620px;
	margin: 20px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 90px;
	padding-bottom: 120px
	color #11a01873;
	background-color: #595e5d00;
	/* font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif; */
    font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
}

.baner9:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/shestiugolniki_soty_relef_880947_1024x600.jpg);
    /* transform: scale(1.04);   */
}





.logo{
    width: 200px;
    height: 200px;
    display: inline-block;
	margin-bottom: 40px;
	align-items: center;
    border-radius: 200px;
    border: 9px solid rgba(18, 247, 247, 0.8);
	transition: transform 0.5s ease;
}

.logo:hover{
    border: 9px solid rgb(201, 28, 22);
    transform: scale(1.1);
}


/* ------------------------------------------------------------------------------------------------------------------- */


.Post{
    display: block;
	margin: 5px;
	padding: 10px;
	margin-bottom: 70px;
	border: 1px solid rgba(18, 233, 240, 0.493);
	color:rgb(180, 221, 156);
    background-color: rgba(49, 53, 54, 0.466);
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 1px;
	transition: transform 0.3s ease;
	box-shadow: 1px 2px 5px;
}

.Post:hover{
    background-color: rgba(110, 108, 106, 0.247);
}


.Post2{
    display: block;
	margin: 10px;
    padding: 5px;
	height: 160px;
	border: 1px solid rgb(18, 233, 240);
	color:rgb(253, 253, 253);
    background-color: rgba(49, 53, 54, 0.466);
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.3s ease;
	box-shadow: 1px 2px 5px;
}

.Post2:hover{
    background-color: rgba(231, 128, 11, 0.247);
}
/* ----------------------------------------------------------------------------- */




@media (max-width: 750px) {
	.heder{
		font-size: 35px;
	}
    
}

@media (max-width: 507px) {
	.heder{
		display: flex;
		justify-content: center;
		font-size: 25px;

	}
    
}

@media (max-width: 507px) {

	.baner1{
		display: inline-block;
		width: 300px;
		height: 620px;
		margin: 20px;
		margin-top: 190px;
		margin-bottom: 30px;
		margin-left: 15px;
		padding-bottom: 120px

}

}











